:root {
    --card-width: 80px;
    --card-height: 120px;
    --card-margin: 10px;
    --card-upgrade-offset: 30px;
    --card-hand-offset: 15px;
    --card-padding: 10px;
    /* Replace all pixel values with units instead */   

    /* Fix the colors */

    --card-upgrade-color: rgb(255, 82, 102);

    --fire-color: #c53f68;
    --fire-ability-color: #e02059;
    --fire-ability-range-min: -75px;
    --fire-ability-range-max: -200px;

    --earth-color: #e1d59b;
    --earth-ability-color: #e1d59b;
    --earth-ability-range: -150px;

    --bg-color: white;
    --board-color: rgb(179, 152, 127);
    --board-divider-color: rgb(143, 143, 143);
    --player-color: red;
    --hand-color: rgb(202, 202, 202);
    --end-turn-btn-color: orange;
    --end-turn-txt-color: white;
    --movement-arrow-color-active: red;
    --movement-arrow-color-inactive: rgba(255, 59, 59, 0.436);
    --movement-area-color: lightgrey;
    --movement-position-color: rgb(150, 150, 150);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 95vh;

    background-color: var(--bg-color);
}

.header--secondary {
    font-size: 50px;
    font-weight: 600;
}

#turn-text {
    margin-bottom: auto;
}  

.ability-area {
    width: 480px;
    height: 90px;
    background-color: aliceblue;
}

.ability--fire {
    position: absolute;

    width: 30px;
    height: 60px;

    background-color: var(--fire-ability-color);
    border-radius: 50% 50% 20px 20px;
}

.ability--fire--1 {
    animation: FireForward--1 100ms ease-in forwards;
}

.ability--fire--2 {
    animation: FireForward--2 100ms ease-in forwards;
}

@keyframes FireForward--1 {
    0% {
        transform: translateY(var(--fire-ability-range-min));
    }
    100% {
        transform: translateY(var(--fire-ability-range-max));
    }
}

@keyframes FireForward--2 {
    0% {
        transform: translateY(calc(var(--fire-ability-range-min) * -1));
    }
    100% {
        transform: translateY(calc(var(--fire-ability-range-max) * -1));
    }
}

.ability--earth {
    position: absolute;

    width: 100px;
    height: 40px;

    background-color: var(--earth-ability-color);

    border-radius: 25px;
}

.ability--earth--1 {
    transform: translateY(var(--earth-ability-range));
}

.ability--earth--2 {
    transform: translateY(calc(var(--earth-ability-range) * -1));
}

.movement-area {
    width: 480px;
    height: 200px;
    
    background-color: var(--movement-area-color);

    margin-bottom: 20px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
/*  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.movement-area__position {
    height: 180px;
    width: 150px;
    margin: 10px;

    background-color: var(--movement-position-color);

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.player {
    width: 80px;
    height: 120px;

    background-color: lightgreen;

    border-radius: 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.health-text {
    position: absolute;
    text-align: center;
    width: inherit;
    font-size: 14px;
}

.movement-arrow {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    
    border-left: 50px solid var(--movement-arrow-color-inactive);
}

.movement-arrow:hover {
    border-left-color: var(--movement-arrow-color-active);
}

.movement-arrow--right {
    transform: translate(90px, 10px);

}

.movement-arrow--left {
    transform: translate(-60px, 10px) rotate(180deg);
}

.hand-board__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.movement-hand__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand--playable {
    width: 700px;
    height: var(--card-height);
    background-color: var(--hand-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    
    padding: var(--card-hand-offset);

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.board__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: calc((var(--card-width) + var(--card-margin) + var(--card-hand-offset)) * 4);
    height: calc(var(--card-height) * 2.5);
    background-color: var(--board-color);
    border-radius: 15px;

    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    
    padding: var(--card-hand-offset);
    
    margin-left: 20px;

    box-shadow: rgb(53, 56, 59, 0.5) 3px 3px 6px 1px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
}

.board:before {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--board-divider-color);
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 0;
}

.board:after {
    content: " ";
    position: absolute;
    display: block;
    background-color: var(--board-divider-color);
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 0;
}

.board__btn {
    background-color: var(--end-turn-btn-color);
    color: var(--end-turn-txt-color);
    padding: 10px;
    border-radius: 15px;

    width: 80px;
    margin: 10px;

    user-select: none;

    transition: all 500ms;

    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.board__btn:hover {
    transform: scale(1.05);
}

.card-container--upgrade {
    position: absolute;
    height: 80px;
    /* background-color: rgba(255, 0, 0, 0.11); */

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
    width: calc((var(--card-width) + var(--card-margin)) * 3);

    pointer-events: none;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    background-color: rgb(255, 255, 255);

    margin: var(--card-margin);

    padding: var(--card-padding);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    z-index: 1;
}

.card--earth {
    background-color: var(--earth-color);
}

.card--fire {
    background-color: var(--fire-color);
}

.card--playable:hover {
    filter: brightness(120%);
    /* background-color: rgb(255, 255, 221); */
}

.card--upgrade {
    pointer-events: all;

    background-color: var(--card-upgrade-color);
    transform: translateY(calc(var(--card-upgrade-offset) * -1));
}

.card--upgrade:hover {
    filter: brightness(120%);
}

.card__text {
    margin: 0;
    font-size: 14px;
    user-select: none;
}

.resource-text{
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}